<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ConnectionStr" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="cdbdl.Properties.Settings.TJDATAConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=TJDATA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cdbdl.Properties.Settings.ConnectionString" connectionString="Dsn=bdl;uid=sa;pwd=cdbdl" providerName="System.Data.Odbc"/>
</connectionStrings>
  <appSettings>
    <add key="providerName" value="System.Data.SqlClient"/>
    <!--<add key="connectionString" value="U2VydmVyPTEwLjIuOS4yMDE7RGF0YUJhc2U9YWp4YmRsO1VpZD1zYTtwd2Q9Y2RiZGw7"/>-->
    <add key="connectionString" value="Data Source=10.2.23.200;Initial Catalog=ajxjyf;User Id=sa;Password=jyterp" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
